* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #F0F8FF;
  --player-color: chartreuse;
  --field-size: 4;
  --card-width: 50px;
  --color-green: #5A5;
  --color-red: #F55;
  --color-yellow: #FA0;
  --color-blue: #55F;
  --current-color: aliceblue;
  --inverted-color: white;
  --my-back-color: #E9F5E9;
  --borders-color: #2671ff;
  --window-inner-height: 100dvh;
}


html,
body {
  height: 100%;
}

input, select, textarea, button {
  font-family:inherit;
  font-size:inherit;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.content {
  flex: 1 0 auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 0 auto;
  width: 100%;
}

.qrcode.big {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  width: 100%;
}

.qrcode {
  width: 200px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mirror {
  transform: scaleX(-1);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 70%);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.nameinput {
  padding: 10px 2px;
  width: 100%;
}

.namesubmit {
  background: #0d6efd;
  color: white;
  padding: 3px 10px;
}

.nameform {
  min-height: 100px;
}

.spinner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 100dvh;
}

.spinner::after {
  animation: change-content .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
}

@keyframes change-content {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}

.chatbox {
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
  min-height: min(290px, 100dvh);
  overflow: hidden;
  box-shadow: 0 0 4px rgb(0 0 0 / 14%),0 4px 8px rgb(0 0 0 / 28%);
}


.chat-window {
  flex: auto;
  overflow: auto;
}

@media (height >= 540px) {
  .chatbox {
    max-height: min(calc(100dvh - 200px), var(--window-inner-height));
    min-height: calc(100dvh - 310px);
  }
}

.chat-input {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  border-top: solid 1px var(--borders-color);
  height: 60px;
}

.chat-input:focus-within {
  border-top: none;
}

.chat-input input {
  height: 56px;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0 60px 0 30px;
  outline-color: var(--borders-color);
  border-radius: 60px;
  margin: 0 1px;
}

.chat-input button {
  outline-color: var(--borders-color);
  border: none;
  transition: all 0.15s ease-in-out;
  position: absolute;
  right: 0;
  display: grid;
  transform: translateX(100%);
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(61 114 237 / 20%);
}

.circle svg {
  display: block;
  margin: auto;
}

.chat-input input.good + button.circle {
  box-shadow: 0 0 2px rgb(0 0 0 / 12%),0 2px 4px rgb(0 0 0 / 24%);
  background: #2671ff;
  transform: translateX(-10%);
}

.chat-input input.good + button:hover.circle {
  box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%),0 6px 20px 0 rgb(0 0 0 / 19%);
}

.chat-input button path {
  fill: white;
}

.msg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
}

.msg-box {
  display: flex;
  align-items: center;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: left;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%),0 2px 4px rgb(0 0 0 / 24%);
}

minidenticon-svg {
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0;
  flex-shrink: 0;
}

.flr {
  padding: 2px 8px;
}

.flr > *{
  padding: 1px;
}

.messages {
  flex: 1 0 auto;
}

.msg {
  font-size: 1rem;
}

.timestamp {
  color: rgb(0 0 0 / 70%);
  font-size: 12px;
  text-align: right;
  float: right;
}

.username {
  display: block;
  margin-right: 3px;
  font-size: 14px;
  color: rgb(61 114 237);
  font-weight: 500;
  font-family: sans-serif;
}

.posttime {
  margin-left: 3px;
}

.msg-self .msg-box {
  border-radius: 6px 0 0 6px;
  background: var(--my-back-color);
  float: right;
}

.msg-self .username {
  display: none;
}

.msg-self minidenticon-svg {
  display: none;
}

.hidden {
  display: none;
}
