* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #F0F8FF;
  --player-color: chartreuse;
  --field-size: 4;
  --card-width: 50px;
  --color-green: #5A5;
  --color-red: #F55;
  --color-yellow: #FA0;
  --color-blue: #55F;
  --current-color: aliceblue;
  --inverted-color: white;
}


html,
body {
  height: 100%;
}

input, select, textarea, button {
  font-family:inherit;
  font-size:inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
  width: 100%;
}

.qrcode.big {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  width: 100%;
}

.qrcode {
  width: 300px;
  margin: auto;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mirror {
  transform: scaleX(-1);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 70%);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.nameinput {
  padding: 10px 2px;
  width: 220px;
}

.namesubmit {
  background: #0d6efd;
  color: white;
  padding: 3px 10px;
}

.spinner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 100vh;
}

.spinner::after {
  animation: change-content .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
}

@keyframes change-content {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}

.chatbox {
  width: 300px;
  height: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 4px rgb(0 0 0 / 14%),0 4px 8px rgb(0 0 0 / 28%);
}

.chat-window {
  flex: auto;
  max-height: calc(100% - 60px);
  background: #2f323b;
  overflow: auto;
}

.chat-input {
  flex: 0 0 auto;
  height: 60px;
  background: #40434e;
  border-top: 1px solid #2671ff;
  box-shadow: 0 0 4px rgb(0 0 0 / 14%),0 4px 8px rgb(0 0 0 / 28%);
}

.chat-input input {
  height: 59px;
  line-height: 60px;
  outline: 0 none;
  border: none;
  width: calc(100% - 60px);
  color: white;
  text-indent: 10px;
  font-size: 12pt;
  padding: 0;
  background: #40434e;
}

.chat-input button {
  float: right;
  outline: 0 none;
  border: none;
  background: rgb(255 255 255 / 25%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 2px 0 0;
  margin: 10px;
  transition: all 0.15s ease-in-out;
}

.chat-input input[good] + button {
  box-shadow: 0 0 2px rgb(0 0 0 / 12%),0 2px 4px rgb(0 0 0 / 24%);
  background: #2671ff;
}

.chat-input input[good] + button:hover {
  box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%),0 6px 20px 0 rgb(0 0 0 / 19%);
}

.chat-input input[good] + button path {
  fill: white;
}

.msg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
  padding: 0;
}

.msg-box {
  display: flex;
  background: #5b5e6c;
  padding: 10px 10px 0;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: left;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%),0 2px 4px rgb(0 0 0 / 24%);
}

minidenticon-svg {
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #2671ff;
  margin: 0 10px 10px 0;
  flex-shrink: 0;
}

.flr {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}

.messages {
  flex: 1 0 auto;
}

.msg {
  display: inline-block;
  font-size: 11pt;
  line-height: 13pt;
  color: rgb(255 255 255 / 70%);
  margin: 0 0 4px;
}

.msg:first-of-type {
  margin-top: 8px;
}

.timestamp {
  color: rgb(0 0 0 / 38%);
  font-size: 8pt;
  margin-bottom: 10px;
}

.username {
  margin-right: 3px;
}

.posttime {
  margin-left: 3px;
}

.msg-self .msg-box {
  border-radius: 6px 0 0 6px;
  background: #2671ff;
  float: right;
}

.msg-self .user-img {
  margin: 0 0 10px 10px;
}

.msg-self .msg {
  text-align: right;
}

.msg-self .timestamp {
  text-align: right;
}
